@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-weight: 300;
	src: url('../fonts/Poppins-Light.ttf');
}
@font-face {
	font-family: 'Poppins-regular';
	font-display: swap;
	font-weight: 300;
	src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
	font-family: 'Poppins-bold';
	font-display: swap;
	font-weight: 300;
	src: url('../fonts/Poppins-Bold.ttf');
}
@font-face {
	font-family: 'Poppins-medium';
	font-display: swap;
	font-weight: 300;
	src: url('../fonts/Poppins-Medium.ttf');
}
@font-face {
	font-family: 'Poppins-semibold';
	font-display: swap;
	font-weight: 300;
	src: url('../fonts/Poppins-SemiBold.ttf');
}
